<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person Demography</title>
</head>
<body>

<a href="index.html" th:href="@{/}">Home</a><p></p>
<a href="person_list.html" th:href="@{/persons}">List of records</a>
<form id="demographic-form" role="form" th:action="@{/person/add}" method="post" th:object="${demographicForm}">
    <div>
        <label for="name">Field 1</label>
        <input type="text" id="name" name="name" th:field="${demographicForm.name}"/>
    </div>
    <div>
        <label for="pps">Field 1</label>
        <input type="text" id="pps" name="pps" th:field="${demographicForm.pps}"/>
    </div>
    <div>
        <label for="birthday">Field 1</label>
        <input type="text" id="birthday" name="birthday" th:field="${demographicForm.birthday}"/>
    </div>
    <div>
        <label for="mobileNumber">Field 1</label>
        <input type="text" id="mobileNumber" name="mobileNumber" th:field="${demographicForm.mobileNumber}"/>
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>