<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person Demography</title>
</head>
<body>

<a href="index.html" th:href="@{/}">Home</a><p></p>
<a href="person_list.html" th:href="@{/persons}">List of records</a>
<form id="demographic-form" role="form" th:action="@{/person/add}" method="post" th:object="${peopleDetailForm}">
    <div><label for="name">*Name</label></div>
    <div><input id="name" type="text" name="name" th:field="${peopleDetailForm.name}" /></div>

    <div><label for="pps">**PPS</label></div>
    <div><input id="pps" type="number" name="pps" th:field="${peopleDetailForm.pps}"/></div>

    <div><label for="birthday">*BIRTHDAY</label></div>
    <div><input id="birthday" type="date" name="birthday" th:field="${peopleDetailForm.birthday}"/></div>

    <div><label for="mobileNumber">MOBILE</label></div>
    <div><input id="mobileNumber" type="number" name="mobileNumber" th:field="${peopleDetailForm.mobileNumber}"/></div>

    <div><button type="submit">Add</button></div>
</form>

</body>
</html>