<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person Demography</title>
</head>
<body>

<form id="demographic-form" role="form" th:action="@{/person/add}" method="post" th:object="${personDetailForm}">
    <!--<h2>Add new record</h2>-->
    <table align="center">
        <tr>
            <td><label for="name">Name</label></td>
            <td><input id="name" type="text" name="name" th:field="${personDetailForm.name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" bgcolor="red">Name error message</td>
        </tr>
        <tr>
            <td><label for="pps">PPS Number</label></td>
            <td><input id="pps" type="number" name="pps" th:field="${personDetailForm.pps}" /></td>
            <td th:if="${#fields.hasErrors('pps')}" th:errors="*{pps}" bgcolor="red">PPS error message</td>
        </tr>
        <tr>
            <td><label for="birthday">Date of Birth</label></td>
            <td><input id="birthday" type="date" name="birthday" th:field="${personDetailForm.birthday}"/></td>
            <td th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" bgcolor="red">Birthday error message</td>
        </tr>
        <tr>
            <td><label for="mobileNumber">Mobile Phone</label></td>
            <td><input id="mobileNumber" type="number" name="mobileNumber" th:field="${personDetailForm.mobileNumber}" /></td>
            <td th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}" bgcolor="red">mobileNumber error message</td>
        </tr>
        <tr>
            <td></td>
            <td align="center"><button type="submit">Submit</button></td>
        </tr>
    </table>

    <!--<div align="center">-->
        <!--<a href="index.html" th:href="@{/}">Home</a>-->
        <!--<a href="person_list.html" th:href="@{/persons}">List of records</a>-->
    <!--</div>-->
</form>

</body>
</html>