<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Person Demography</title>
</head>

<body>

<main id="persons">
    <table align="center" th:if="${not #lists.isEmpty(newPersonList)}">
        <tr>
            <th width="100" align="left">Name</th>
            <th width="100" align="left">PPSN</th>
            <th width="100" align="left">DOB</th>
            <th width="100" align="left">Mobile Phone</th>
        </tr>
        <tr th:each="p: ${newPersonList}">
            <td th:text="${p.name}"></td>
            <td th:text="${p.pps}" ></td>
            <td th:text="${#temporals.format(p.birthday,'dd/MM/yyyy')}" ></td>
            <td th:text="${p.mobileNumber}"></td>
        </tr>
    </table>
    <div align="center" th:if="${#lists.isEmpty(newPersonList)}"><h2>No records have been created</h2></div>
</main>
</body>

</html>